src/main/mule/implementations/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="post:\cases:application\json:uhub-sapi-config">
		<logger level="INFO" doc:name="Start Log" doc:id="3367a0c6-6fe1-4785-9284-708261fb2761" message="Start process..."/>
		<set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set correlationId" doc:id="08f6a79d-92b0-4360-b7ad-650f56bb4ac9" variableName="correlationId"/>
		<ee:transform doc:name="Prepare Covid Case Payload" doc:id="2ebd409a-0325-4310-b955-1f729d733654" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
var currentDate = now() as String { format: "yyyy-MM-dd" }
---
{
	source: payload.source,
	case_type: payload.caseType,
	first_name: payload.firstName,
	last_name: payload.lastName,
	phone: payload.phone,
	email: payload.email,
	date_of_birth: payload.dateOfBirth as String {
		format: "yyyy-MM-dd"
	},
	national_id: payload.nationalID,
	national_id_type: payload.nationalIDType,
	street_address: payload.address.streetAddress,
	city: payload.address.city,
	state: upper(payload.address.state),
	postal: payload.address.postal,
	country: payload.address.country,
	create_date: currentDate,
	update_date: currentDate,
	create_by: "UHIS",
	update_by: "UHIS"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="insert-covid-case-sub-flow" doc:id="00e43350-6726-407a-9717-e80716eceb1c" name="insert-covid-case-sub-flow"/>
		<flow-ref doc:name="fetch-caseId-sub-flow" doc:id="432ba1e1-5833-497e-b27e-92f40c67103c" name="fetch-caseId-sub-flow" />
		<ee:transform doc:name="Prepare Response" doc:id="89fc3d02-2fc6-4d91-bf32-f0c03abb7bd7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  caseID: payload[0].CASE_ID as String
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="2cdbaf7e-69ca-4fc5-8c6e-86894bd4f1e7" message="End process..."/>

    </flow>
	
	</mule>
